# POS Tagging NLTK

In [1]:
import nltk
from nltk.tokenize import word_tokenize

In [2]:
sentence = 'The series depicts the story of three poor sisters who are close, their involvement in the case of 70 billion won which goes missing'

In [8]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

## POS Tagging spaCy

In [9]:
token = word_tokenize(sentence)
token

['The',
 'series',
 'depicts',
 'the',
 'story',
 'of',
 'three',
 'poor',
 'sisters',
 'who',
 'are',
 'close',
 ',',
 'their',
 'involvement',
 'in',
 'the',
 'case',
 'of',
 '70',
 'billion',
 'won',
 'which',
 'goes',
 'missing']

In [10]:
tagged = nltk.pos_tag(token)
tagged

[('The', 'DT'),
 ('series', 'NN'),
 ('depicts', 'VBZ'),
 ('the', 'DT'),
 ('story', 'NN'),
 ('of', 'IN'),
 ('three', 'CD'),
 ('poor', 'JJ'),
 ('sisters', 'NNS'),
 ('who', 'WP'),
 ('are', 'VBP'),
 ('close', 'RB'),
 (',', ','),
 ('their', 'PRP$'),
 ('involvement', 'NN'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('case', 'NN'),
 ('of', 'IN'),
 ('70', 'CD'),
 ('billion', 'CD'),
 ('won', 'VBD'),
 ('which', 'WDT'),
 ('goes', 'VBZ'),
 ('missing', 'VBG')]

In [11]:
grammar = ('''
    NP: {<DT>?<JJ>*<NN>}
''')

In [12]:
chunkParser = nltk.RegexpParser(grammar)
tree = chunkParser.parse(tagged)
for subtree in tree.subtrees():
    print(subtree)

(S
  (NP The/DT series/NN)
  depicts/VBZ
  (NP the/DT story/NN)
  of/IN
  three/CD
  poor/JJ
  sisters/NNS
  who/WP
  are/VBP
  close/RB
  ,/,
  their/PRP$
  (NP involvement/NN)
  in/IN
  (NP the/DT case/NN)
  of/IN
  70/CD
  billion/CD
  won/VBD
  which/WDT
  goes/VBZ
  missing/VBG)
(NP The/DT series/NN)
(NP the/DT story/NN)
(NP involvement/NN)
(NP the/DT case/NN)